

html
  head
    title Flight Cards
    style
      include ../style.css
    link(href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto&display=swap" rel="stylesheet")
  body
    h1= 'Flight Cards'
    div(class='flight-card-container')
      for flight in flightDetails
        div(class='flight-card')
          div(class="flight-card-route")
            img(src='planeDepart.png' style='width:50px; height:50px;')
            div(class='flight-card-name')
              h3(class="flight-card-code") #{flight.srcAirport.iataIcao}
              h3(class="flight-card-airport") #{flight.srcAirport.airport}
            h3(class="flight-card-country") #{flight.srcAirport.city}
          div(class="distance-time")
            h3(class="distance") #{flight.dist} km 
            h3(class="time") est. #{flight.time}
          div(class="flight-card-route")
            img(src='planeArrive.png' style='width:50px; height:50px;')
            div(class='flight-card-name')
              h3(class="flight-card-code") #{flight.dstAirport.iataIcao}
              h3(class="flight-card-airport") #{flight.dstAirport.airport}
            h3(class="flight-card-country") #{flight.dstAirport.city}
